@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://use.typekit.net/baa5ncg.css");
@import "tailwindcss";

@theme {
	--color-body: #808080;
	--color-accent: #b12a25;
	--color-dark: #1d1d1b;
	--color-light-100: #fafafa;
	--color-light-200: #f6f7f2;
	--color-light-300: #f0f0f0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Nunito", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "gill-sans-nova-condensed", sans-serif;
	font-weight: 900;
	font-style: normal;
	line-height: 1.1;
}

h2 {
	font-size: 60px;
}
@media (max-width: 1024px) {
	h2 {
		font-size: 42px;
	}
}
@media (max-width: 768px) {
	h2 {
		font-size: 36px;
	}
}

h3 {
	font-size: 52px;
}
@media (max-width: 1280px) {
	h3 {
		font-size: 40px;
	}
}
@media (max-width: 768px) {
	h3 {
		font-size: 36px;
	}
}

p {
	font-size: 18px;
}
@media (max-width: 1280px) {
	p {
		font-size: 16px;
	}
}
@media (max-width: 640px) {
	p {
		font-size: 14px;
	}
}
